#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define QWERTY 0
#define LOWER 1
#define RAISE 2
#define ARROW 3
#define LEFT 4
#define ADJUST 5

/ {
    behaviors {
        td_low_adj: tap_dance_lower_adjust {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LOWER>, <&mo ADJUST>;
        };

        td_rse_adj: tap_dance_raise_adjust {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo RAISE>, <&mo ADJUST>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            bindings = <
                &kp TAB           &kp Q             &kp W             &kp E             &kp R             &kp T                                                 &kp Y             &kp U             &kp I             &kp O             &kp P             &kp MINUS
                &kp LCTRL         &kp A             &kp S             &kp D             &kp F             &kp G                                                 &kp H             &kp J             &kp K             &kp L             &kp SEMI          &kp RET
                &kp LSHFT         &kp Z             &kp X             &kp C             &kp V             &kp B                                                 &kp N             &kp M             &kp COMMA         &kp DOT           &kp FSLH          &kp INT_RO
                &kp ESC           &kp LALT          &kp LGUI          &mo ARROW         &td_low_adj       &mo LEFT          &kp LANG2         &kp LANG1         &kp SPACE         &td_rse_adj       &kp LEFT          &kp DOWN          &kp UP            &kp RIGHT
            >;
        };

        lower_layer {
            bindings = <
                &kp GRAVE         &kp EXCL          &kp AT            &kp HASH          &kp DOLLAR        &kp PRCNT                                             &kp CARET         &kp AMPS          &kp ASTRK         &kp LPAR          &kp RPAR          &kp DEL
                &kp GRAVE         &kp EXCL          &kp AT            &kp HASH          &kp DOLLAR        &kp PRCNT                                             &kp CARET         &kp AMPS          &kp ASTRK         &kp LPAR          &kp RPAR          &trans
                &trans            &kp HOME          &trans            &kp END           &trans            &trans                                                &trans            &trans            &kp AT            &kp LBKT          &kp RBKT          &kp PIPE
                &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &kp C_VOL_DN      &kp C_VOL_UP
            >;
        };

        raise_layer {
            bindings = <
                &trans            &trans            &mkp LCLK         &mkp MCLK         &mkp RCLK         &trans                                                &trans            &msc SCRL_DOWN    &msc SCRL_UP      &mkp MB4          &mkp MB5          &kp DEL
                &trans            &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_UP      &mmv MOVE_RIGHT   &trans                                                &trans            &mkp LCLK         &mkp MCLK         &mkp RCLK         &trans            &trans
                &trans            &trans            &trans            &trans            &trans            &trans                                                &trans            &trans            &trans            &trans            &trans            &trans
                &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &kp C_VOL_DN      &kp C_VOL_UP      &kp C_PP
            >;
        };

        arrow_layer {
            bindings = <
                &trans            &trans            &trans            &trans            &trans            &trans                                                &trans            &trans            &trans            &trans            &trans            &trans
                &trans            &trans            &kp LEFT          &kp UP            &kp DOWN          &kp RIGHT                                             &kp LEFT          &kp DOWN          &kp UP            &kp RIGHT         &trans            &trans
                &trans            &trans            &trans            &trans            &trans            &trans                                                &trans            &trans            &trans            &trans            &trans            &trans
                &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
            >;
        };

        left_layer {
            bindings = <
                &kp MINUS         &kp P             &kp O             &kp I             &kp U             &kp Y                                                 &trans            &kp N7            &kp N8            &kp N9            &trans            &trans
                &kp RET           &kp SEMI          &kp L             &kp K             &kp J             &kp H                                                 &trans            &kp N4            &kp N5            &kp N6            &trans            &trans
                &kp INT_RO        &kp FSLH          &kp DOT           &kp COMMA         &kp M             &kp N                                                 &trans            &kp N1            &kp N2            &kp N3            &kp DOT           &trans
                &kp SPACE         &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
            >;
        };

        adjust_layer {
            bindings = <
                &bt BT_CLR        &bt BT_SEL 0      &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3      &bt BT_SEL 4                                          &trans            &trans            &trans            &trans            &trans            &kp DEL
                &trans            &sys_reset        &trans            &trans            &trans            &trans                                                &trans            &trans            &trans            &trans            &trans            &trans
                &trans            &sys_reset        &trans            &trans            &trans            &trans                                                &trans            &trans            &trans            &trans            &trans            &trans
                &studio_unlock    &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans            &trans
            >;
        };
    };
};